{% extends 'base.html'  %}
{% load static %}
{% block title %}Password Reset Page{% endblock title %}
{% block main-content %}
<h2 class="text-center bg-primary">Welcome to Profile Page</h2>
<div class="container">
   
    <div class="container text-center">
        <h3>Password Reset SuccessFully!!!</h3>
        <hr>
        <div>
            <iframe src="https://giphy.com/embed/ibolLe3mOqHE3PQTtk" width="480" height="480" frameBorder="0" class="giphy-embed" allowFullScreen></iframe>
        </div>

    </div>

</div><br><br><br>
{% endblock main-content %}