{% extends 'base.html'  %}
{% load static %}
{% block title %}Password Reset Done{% endblock title %}
{% block main-content %}
<h2 class="text-center bg-primary">Welcome to Profile Page</h2>
<div class="container">
    <div class="row">
        <div class="col-sm-2 border-end">
            <ul class="list-unstyled">
                <li class="d-grid m-2">
                    <a href="{% url 'password_reset_done' %}" class="text-decoration-none btn btn-success">
                        Password Reset Done
                    </a>
                </li>
                <li class="d-grid m-2">
                    <a href="{% url 'login' %}" class="btn btn-light"> 
                        Go Back
                    </a>    
                </li>
                
            </ul>
        </div>
        <div class="col-sm-8 offset-sm-1">
            <h3 class="alert-heading">Well Done!</h3>
            <p>
                An Email has been sent with proper instructions
                to reset your password.
            </p>
            <b>Please Check Your Email</b>
        </div>

    </div>
    

</div><br><br><br>
{% endblock main-content %}