{% extends 'base.html'  %}
{% load static %}
{% block title %}Password Change Page{% endblock title %}

{% block main-content %}
<h2 class="text-center bg-warning">Welcome to Password Changing Page.</h2>
<div class="container">
    <div class="row">
        <div class="col-2">

        </div>
        <div class="col-8">
            <form style="background-color: rgb(155, 211, 227);" class="text-center border p-2 m-3" method="post">
                {% csrf_token %}
                <br>
                {% for fm in form %}
                    {{fm.label_tag}} {{fm}}<br>
                    <samll>
                        {{fm.errors|striptags}}
                    </samll><br>
                {% endfor %}
                <br>
                <input type="submit" value="Save" class="btn btn-success mb-3">
                <h4><a href="{% url 'home' %}" class="btn btn-info">Cancel</a></h4>
        
                {% if form.non_field_errors %}
                    {% for errors in form.non_field_errors %}
                        <div class="alert alert-danger my-3">
                            {{errors}}
                        </div>
                    {% endfor %}
                {% endif %}
        
            </form>
        </div>

    </div>

</div>
    
{% endblock main-content %}